.ads-left {
  display:none;
}
.ads-rigth {
  display:none;
}

@media all and (min-width:768px) {
  .container {
    max-width: 960px;
  }
}

@media all and (min-width:1440px) {
  .ads-left {
    display:block;
    position: fixed;
    left: 10px;
  }
  .ads-rigth {
    display:block;
    position: fixed;
    rigth: 10px;
  }
}