html,body {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  background: #009578;
}
button,textarea {
  outline: none;
  border: 0;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* kakao 광고 */
.ads-left {
  display:none;
}
.ads-right {
  display:none;
}

@media all and (min-width:768px) {
  .container {
    max-width: 960px;
  }
}

@media all and (min-width:1440px) {
  .ads-left {
    display:block;
    position: fixed;
    left: 10px;
  }
  .ads-right {
    display:block;
    position: fixed;
    right: 10px;
  }
}
/* kakao 광고 */

.wrapper {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}
.inner {
  margin: 20px 0;
}
.sticky-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.sticky-list li {
  position: relative;
}

@media screen and (min-width: 760px) {
  .sticky-list {
    grid-template-columns: repeat(5, 1fr);
  }
  .sticky-list li {
    grid-column: auto;
  }
}

.item {
  height: 200px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
  font-size: 16px;
  position: relative;
}
.item:nth-child(5n) {
  margin-right: 0;
}
.item .note {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
}
.fontSize {
  font-size: 14px;
}
.add-note {
  width: 100%;
  height: 80px;
  line-height: 80px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 50px;
}

.add-note:hover {
  background: rgba(0, 0, 0, 0.2);
}

.txt {text-align: center;}

.delet {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #f4f4f5;
  background-image: url(./assets/img/ico-delete.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.delet:hover {
  opacity: 1;
}
