/* kakao 광고 */
.ads-left {
  display:none;
}
.ads-right {
  display:none;
}

@media all and (min-width:768px) {
  .container {
    max-width: 960px;
  }
}

@media all and (min-width:1440px) {
  .ads-left {
    display:block;
    position: fixed;
    left: 10px;
  }
  .ads-right {
    display:block;
    position: fixed;
    right: 10px;
  }
}
/* kakao 광고 */